* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: #FEFEFA;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 850px;
  min-height: 100vh;
}

.icon {
  transition: 0.3s ease-in-out
}

.icon:hover {
  transform: rotate(8deg);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .app-container {
    justify-content: space-between;
  }
}

@media screen and (max-width: 415px) {
  .app-container {
    justify-content: space-between;
  }
}