.container {
    display: flex;
    width: 100%;
    padding: 30px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    cursor: default;
}

.textWrapper {
    max-width: 450px;
    text-align: justify;
}

.textWrapper :nth-child(1) h2 {
    color: #383639;
    margin: 2px 0;
}

.textWrapper small {
    margin-bottom: 100px;
    font-size: medium;
    color: #f5d271;
    font-weight: 600;
}

.textWrapper p {
    margin-top: 1rem;
    color: #383639;
    font-size: large;
}

.textWrapper p span a {
    cursor: pointer;
    text-decoration: underline;
    color: #f5d271;
}

@media screen and (min-width: 1600px) {
    .container {
        margin-top: -10rem
    }
}

@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 650px) {
    .container {
        width: 100%;
        flex-direction: column;
        gap: 12px;
    }

    .textWrapper {
        margin-top: 16px;
    }

    .textWrapper :nth-child(1) h2 {
        font-size: large;
    }

    .textWrapper small {
        font-size: small;
    }

    .textWrapper p {
        font-size: medium;
    }
}